:root {
    --main-title-color: #2A3B4C;
    --extra-title-color: #ffffff;
    --main-text-color: #000000;
    --extra-text-color: #FFFFFF;
    --accent-color: rgba(68, 164, 217, 1);
    --icon-color: #2A3B4C99;
    --timing: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
@media screen and (max-width:767px) {


    .container {
        max-width: 425px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    /* HEADER */

    .hidden{
        display: none;
    }

    .header{
        padding: 15px;
        height: 100%;
    }

    .header-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .open-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        fill: #2A3B4C99;
    }

    .menu-close {
        display: block;
        margin-top: 15px;
        margin-right: 25px;
        margin-left: auto;
        margin-bottom: 8px;
        border: none;
        background-color: transparent;
        fill: #212121;

    }
    
    .mob-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-color: #E5E5E5;
        top: 0;
        padding:10px 15px;
    
    }

    .mob-wrapper{
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mob-call-link-wrapper{
        margin-bottom: 20px;
                width: 200px;
                height: 60px;
                background: #7CB75E;
                border-radius: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.16px;
                cursor: pointer;
    }
    .mob-link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
        padding: 20px 54px;
    }

    .mob-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .mob-nav-item{
        margin-bottom: 20px;
    }

    .mob-nav-link{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 21px;
                color: var(--main-title-color);
    }

    .mob-nav-link .current{
        color: var(--accent-color);
    }

    .mob-socials-wrapper{
                padding: 12px 20px;
                background: rgba(42, 59, 76, 0.06);
                border-radius: 70px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
    }

    .mob-socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mob-socials-item:not(:last-child){
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mob-socials-link{
        fill: #2A3B4C99;;
    }

    /* MAIN */

    /* HERO */

    .hero {
        height: 300px;
        background-image: url(../images/home-blank/hero/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: flex-start;
    }
    
    .hero-title {
        margin-top: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        color: var(--extra-title-color);
    }

    .call-link-wrapper{
        margin: 40px auto 20px auto;
        width: 200px;
        height: 60px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16px;
        cursor: pointer;
    }
    .call-link{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: var(--extra-text-color);
                padding: 20px 54px;
    }

    .visually-hidden {
        display: none;
    }

    .features-section{
        padding-top: 60px;
    }

    .features-title-wrapper{
        border-bottom: 1px solid rgba(68, 164, 217, 0.5);
        margin-bottom: 30px;
    }

    .title-section{
        padding-bottom: 20px;
                text-align: center;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;
                color: var(--main-title-color);
    }

    .title-part {
    
        color: var(--accent-color);
    }
    .features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-item{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 28px;
    }

    .icon-moderation{
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--icon-color);
        margin-bottom: 15px;
    }

    .features-text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: var(--main-text-color);
    }


    /* OFFER */

    .offer-section{
        margin-top: 60px;
        height: 100%;
        background-image: url(../images/home-blank/offer/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .offer-wrapper{
        padding: 20px;
        height: 100%;
        background-color: #2A3B4C80;

    }

    .offer-title-wrapper{
    background-color: #44A4D9;
    border-radius: 10px 0px 10px 10px;
    }

    .offer-title{
                padding: 5px;
                text-align: center;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;
                color: var(--main-title-color);
    }

    .offer-list{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .offer-item{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .offer-text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--extra-text-color);
    }

    .offer-icon{
        margin-left: 10px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        fill: var(--main-title-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer-link{
        margin-bottom: 10px;
        margin-left: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: var(--extra-text-color);
    }

    /* TRUST */

    .trust-section{
        margin-top: 60px;
    }

    .trust-list{
        display: flex;
        flex-wrap: wrap;
    }

    .trust-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .trust-image{
        border: 8px solid rgba(68, 164, 217, 0.1);
        border-radius: 10px 0px 10px 10px;
        margin-bottom: 10px;
    }

    .trust-description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trust-description-title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: var(--main-title-color);
        margin-bottom: 10px;
    }

    .trust-description-text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;        
        color: var(--main-text-color);
    }


    /* BUY */

    .buy-section{
        margin-top: 60px;
        height: 400px;
                background-color: #E5E5E5;
                background-image: url(../images/home-blank/buy/desk-bg.jpg);
                background-repeat: no-repeat;
                background-position: center;
                /* background-size: cover; */
    }

    .buy-call-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buy-link-wrapper {
        margin: 40px auto 20px auto;
        width: 200px;
        height: 60px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16px;
        cursor: pointer;
    }
    
    .buy-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: var(--extra-text-color);
        padding: 20px 54px;
    }

    .buy-text-content{
        padding: 5px;
        background-color: #2A3B4C80;
        border-radius: 10px 0px 10px 10px;
        height: 273px;
   }

    .buy-section-title{
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        color: var(--extra-title-color);
        margin-bottom: 30px;
    }



    .buy-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .buy-item-icon{
        margin-right: 10px;
        fill: #44A4D9;;
    }

    .buy-item-description{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
    }

    /* FOOTER */

    .footer{
                padding-top: 40px;
                padding-bottom: 43px;
                background-color: rgba(42, 59, 76, 1);
    }

    .footer-top-section{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(68, 164, 217, 0.5);;
    }

    .footer-image{
                padding: 10px;
                background-color: rgba(196, 196, 196, 0.1);
                border-radius: 10px 0px 10px 10px;
    }

    .footer-contact{
        margin-top: 20px;
    }

    .contact-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-link{
        display: flex;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-item-icon{
        margin-right: 10px;
        fill: #C4C4C4B2;;
    }

    .contact-item-text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-middle-right{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--extra-title-color);
    }

    .footer-navigation-list{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav-item:not(:last-child){
        margin-bottom: 15px;
    }

    .footer-nav-link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
    }

    .footer-right{
        margin-top: 30px;
    }

    .footer-right-up{
        display: flex;
        flex-direction: column;
       align-items: center;
       margin-bottom: 20px;
    }

    .footer-right-title{
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--extra-title-color);
        margin-bottom: 20px;
    }

    .footer-socials-wrapper {
        width: 220px;
        padding: 12px 10px;
        background:  #C4C4C433;;
        border-radius: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .footer-socials-item:not(:last-child) {
        margin-right: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-socials-link {
        fill: rgba(255, 255, 255, 0.5);
    }

    .footer-review{
        display: flex;
        justify-content: space-around;
    }

    .footer-review-link{
        fill: rgba(255, 255, 255, 0.5);
    }

}



@media screen and (min-width:768px) {


    .container {
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    /* HEADER */

    .hidden {
        display: none;
    }

    .header {
        padding: 15px;
        height: 100%;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .open-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        fill: #2A3B4C99;
    }

    .menu-close {
        display: block;
        margin-top: 15px;
        margin-right: 25px;
        margin-left: auto;
        margin-bottom: 8px;
        border: none;
        background-color: transparent;
        fill: #212121;

    }

    .mob-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-color: #E5E5E5;
        top: 0;
        padding: 10px 15px;

    }

    .mob-wrapper {
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mob-call-link-wrapper {
        margin-bottom: 20px;
        width: 250px;
        height: 75px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16px;
        cursor: pointer;
    }

    .mob-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 21px;
        color: var(--extra-text-color);
        padding: 20px 54px;
    }

    .mob-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .mob-nav-item {
        margin-bottom: 25px;
    }

    .mob-nav-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 21px;
        color: var(--main-title-color);
    }

    .mob-nav-link .current {
        color: var(--accent-color);
    }

    .mob-socials-wrapper {
        padding: 18px 25px;
        background: rgba(42, 59, 76, 0.06);
        border-radius: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mob-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mob-socials-item:not(:last-child) {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mob-socials-link {
        fill: #2A3B4C99;
    }

    /* MAIN */

    /* HERO */

    .hero {
        height: 100%;
        background-image: url(../images/home-blank/hero/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: flex-start;
    }

    .hero-title {
        margin-top: 50px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        color: var(--extra-title-color);
    }

    .call-link-wrapper {
        margin: 50px auto 50px auto;
        width: 250px;
        height: 75px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16px;
        cursor: pointer;
    }

    .call-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: var(--extra-text-color);
        padding: 28px 80px;
    }

    .visually-hidden {
        display: none;
    }


    /* FEAUTURES */
    .features-section {
        padding-top: 50px;
    }

    .features-title-wrapper {
        border-bottom: 1px solid rgba(68, 164, 217, 0.5);
        margin-bottom: 30px;
    }

    .title-section {
        padding-bottom: 20px;
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--main-title-color);
    }

    .title-part {

        color: var(--accent-color);
    }

    .features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .features-item {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-item:not(:nth-last-child(2)):not(:nth-last-child(1)){
        margin-bottom: 30px;
    }

    .icon-moderation {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--icon-color);
        margin-bottom: 15px;
    }

    .features-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: var(--main-text-color);
    }


    /* OFFER */

    .offer-section {
        margin-top: 60px;
        height: 100%;
        background-image: url(../images/home-blank/offer/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
   
    }


    .offer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 400px;
        margin-right: 50px; 
   
        width: 300px;
        height: 100%;
        background-color: #2A3B4C80;

    }

    .offer-title-wrapper {
        margin-top: 30px;
        width: 370px;
        background-color: #44A4D9;
        border-radius: 10px 0px 10px 10px;
    }

    .offer-title {
        padding: 5px;
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--main-title-color);
    }

    .offer-list {
        margin-left: 20px;
        margin: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .offer-item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .offer-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--extra-text-color);
    }

    .offer-icon {
        margin-left: 10px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        fill: var(--main-title-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer-link {
        margin-left: 10px;
        margin-bottom: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: var(--extra-text-color);
    }

    /* TRUST */

    .trust-section {
        margin-top: 60px;
    }

    .trust-list {
        display: flex;
        flex-wrap: wrap;
    }

    .trust-item {
        padding: 10px;
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trust-image {
        border: 5px solid rgba(68, 164, 217, 0.1);
        border-radius: 10px 0px 10px 10px;
        margin-bottom: 10px;
    }

    .trust-description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trust-description-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: var(--main-title-color);
        margin-bottom: 10px;
    }

    .trust-description-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: var(--main-text-color);
    }


    /* BUY */

    .buy-section {
        margin-top: 50px;
        height: 100%;
        background-color: #E5E5E5;
        background-image: url(../images/home-blank/buy/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        /* background-size: cover; */
    }

    .buy-section-up{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .buy-call-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .buy-link-wrapper {
        margin: 40px auto 20px auto;
        width: 200px;
        height: 60px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16px;
        cursor: pointer;
    }

    .buy-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: var(--extra-text-color);
        padding: 20px 54px;
    }

    .buy-text-content {
        padding: 10px;
        background-color: #2A3B4C80;
        border-radius: 10px 0px 10px 10px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buy-section-title {
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        color: var(--extra-title-color);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .buy-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .buy-item-icon {
        margin-right: 10px;
        fill: #44A4D9;
        ;
    }

    .buy-item-description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
    }

    /* FOOTER */

    .footer {
        padding-top: 40px;
        padding-bottom: 43px;
        background-color: rgba(42, 59, 76, 1);
    }

    .footer-top-section {
        padding-left: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(68, 164, 217, 0.5);
    }

    .footer-image {
        padding: 10px;
        background-color: rgba(196, 196, 196, 0.1);
        border-radius: 10px 0px 10px 10px;
    }

    .footer-content{
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
    }

    .footer-contact {
        margin-top: 20px;
    }

    .contact-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-link {
        display: flex;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: rgba(255, 255, 255, 0.7);
    }

    .footer-item-icon {
        margin-right: 10px;
        fill: #C4C4C4B2;
    }

    .contact-item-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: rgba(255, 255, 255, 0.7);
    }

    .footer-middle-right {
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .footer-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--extra-title-color);
    }

    .footer-navigation{
        display: flex;
    }

    .footer-navigation-list {
        margin-top: 25px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer-nav-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
    }

    .footer-right {
        margin-top: -16px;
    }

    .footer-right-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-right-title {
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--extra-title-color);
        margin-bottom: 20px;
    }

    .footer-socials-wrapper {
        padding: 7px 10px;
        background: #C4C4C433;
        border-radius: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-socials-item:not(:last-child) {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-socials-link {
        fill: rgba(255, 255, 255, 0.5);
    }

    .footer-review {
        display: flex;
        justify-content: space-around;
    }

    .footer-review-link {
        fill: rgba(255, 255, 255, 0.5);
    }

}


/* /////////////////////////////////////////// */



    /* .header {
        height: 70px;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin: 10px 420px 10px 0;
        cursor: pointer;

    }


    .navigation {
        display: flex;
        margin-right: 21px;
    }

    .nav-item:not(:last-child) {
        margin-right: 32px;
    }

    .nav-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--main-title-color);
        padding: 25px 0px;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--accent-color);
    }

    .curent {
        color: var(--accent-color);
    }

    .socials-wrapper {
        padding: 7px 15px;
        background: rgba(42, 59, 76, 0.06);
        border-radius: 70px;
    }

    .header-list {
        display: flex;
        align-items: center;
    }

    .header-socials-item:not(:last-child) {
        margin-right: 10px;
    }

    .header-socials-icon {
        fill: rgba(42, 59, 76, 0.6);
    }

    .header-socials-icon:hover,
    .header-socials-icon:focus {
        fill: rgba(68, 164, 217, 1);
    } */

    /* ===================================================== */

    /* MAIN */

    /* CALL LINK*/

    /* .section {
        margin-top: 50px;
    }

    .call-link-wrapper {
        width: 250px;
        height: 70px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16px;
        cursor: pointer;
    }

    .call-link-wrapper:hover,
    .call-link-wrapper:focus {
        background-color: var(--accent-color);
    }

    .call-link {
        color: var(--extra-text-color);
        padding: 34px 82px;
    } */

    /* HERO */

    /* .hero {
        background-color: #E5E5E5;
        ;
        background-image: url(../images/home-blank/hero/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: flex-start;
    }

    .hero-title {
        margin-top: 80px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: var(--extra-title-color);
    }

    .call-link-wrapper {
        margin-top: 40px;
        margin-bottom: 238px;
    } */


    /* FEATURES */
    /* .features-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .features-title-wrapper {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(68, 164, 217, 0.5);
        width: 100%;
    }

    .title-section {
        padding: 0 0 36px;
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        color: var(--main-title-color);
    }

    .title-part {

        color: var(--accent-color);
    }

    .features {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 32px;
    }

    .features-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 268px;
        margin-right: 28px;
        cursor: pointer;
    }


    .features-item:nth-child(4n) {
        margin-right: 0;
    }

    .icon-moderation {
        height: 70px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .features-icon {
        fill: rgba(0, 0, 0, 0.6);
        ;
    }

    .features-icon:hover,
    .features-icon:focus {
        fill: var(--accent-color);
    }


    .features-text {
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    } */


    /* OFFER */

    /* .offer-section {
        margin-top: 53px;
        background-color: #E5E5E5;
        ;
        background-image: url(../images/home-blank/offer/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .offer-wrapper {
        margin-left: 665px;
        width: 360px;
        height: 580px;
        background-color: rgba(42, 59, 76, 0.5);
        ;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .offer-title-wrapper {
        margin-top: 50px;
        width: 500px;
        height: 55px;
        background-color: var(--accent-color);
        border-radius: 10px 0px 10px 10px;
    }

    .offer-title {
        margin: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        color: var(--main-title-color);
    }

    .offer-list {
        margin-top: 66px;
        margin-bottom: 55px;
        display: flex;
        flex-direction: column;
    }

    .offer-item {
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;

    }

    .offer-item:not(:last-child) {
        margin-bottom: 50px;
    }

    .offer-text {
        color: var(--extra-text-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .offer-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: 10px;
        border: 1px solid #ffffff;
    }

    .offer-link {
        font-family: 'Raleway';
        font-style: normal;
        color: var(--extra-text-color);
    }

    .offer-link:hover,
    .offer-link:focus {
        color: var(--accent-color);
    } */


    /* TRUST */

    /* .trust-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .trust-item {
        width: 266px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trust-item:not(:last-child) {
        margin-right: 86px;
    }

    .trust-image {
        border: 8px solid rgba(68, 164, 217, 0.1);
        ;
        border-radius: 10px;
    }

    .trust-description {
        padding-top: 21px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .trust-description-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
    }

    .trust-description-text {
        margin-top: 9px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    } */


    /* BUY */
    /* .buy-section {
        margin-top: 53px;
        background-color: #E5E5E5;
        background-image: url(../images/home-blank/buy/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 404px;
    }

    .buy-section-up {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .buy-call-wrapper {
        width: 642px;
        height: 404px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buy-link-wrapper {
        width: 260px;
        height: 70px;
        background: #7CB75E;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
    }

    .buy-link-wrapper:hover,
    .buy-link-wrapper:focus {
        background-color: var(--accent-color);
    }

    .buy-link {
        color: var(--extra-text-color);
        padding: 30px 82px;
    }


    .buy-text-content {
        width: 423px;
        height: 404px;
        background-color: rgba(42, 59, 76, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buy-section-title {
        margin-top: 81px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: var(--extra-title-color);
    }

    .buy-list {
        margin-top: 30px;
    }

    .buy-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buy-item:not(:last-child) {
        margin-bottom: 13px;
    }

    .buy-item-icon {
        margin-right: 15px;
        fill: #44A4D9;
    }

    .buy-item-description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
    } */

    /* FOOTER */

    /* .footer {
        padding-top: 40px;
        padding-bottom: 43px;
        background-color: rgba(42, 59, 76, 1);
        
    }

    .footer-top-section {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(68, 164, 217, 0.5);
    }

    .footer-logo {
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(196, 196, 196, 0.1);
        border-radius: 10px 0px 10px 10px;
    }

    .footer-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--extra-title-color);
        padding-bottom: 10px;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .contact-list {
        margin-right: 94px;
    }

    .contact-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer-link {
        display: flex;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 17px;
        cursor: pointer;
    }

    .footer-item-icon {
        margin-right: 5px;
        fill: rgba(196, 196, 196, 0.7);
        ;
    }

    .contact-item-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: rgba(255, 255, 255, 0.7);
    }

    .footer-navigation {
        display: flex;
        flex-direction: row;
    }

    .footer-middle {
        margin-right: 400px;
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 10px;

    }

    .footer-nav-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
    }

    .footer-right-up {
        margin-bottom: 20px;
    }

    .footer-right-title {
        margin-bottom: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--extra-title-color);
    }

    .footer-socials-wrapper {
        padding: 7px 15px;
        background: rgba(196, 196, 196, 0.2);
        ;
        border-radius: 70px;
    }

    .footer-socials {
        display: flex;
        align-items: center;
    }

    .footer-socials-item:not(:last-child) {
        margin-right: 10px;
    }

    .footer-socials-icon {
        fill: rgba(255, 255, 255, 0.5);
        ;
    }

    .footer-socials-icon:hover,
    .footer-socials-icon:focus {
        fill: rgba(68, 164, 217, 1);
    }

    .footer-review {
        display: flex;
        flex-direction: row;
    }

    .footer-review-item {
        margin-right: 9px;
    }

    .footer-review-icon {
        fill: rgba(255, 255, 255, 0.5);
        ;
    }

    .footer-review-icon:hover,
    .footer-review-icon:focus {
        fill: rgba(68, 164, 217, 1);
    }

    .visually-hidden {
        display: none;
    }

} */

/* ///////////////////////////////////////////////////// */


/* @media screen and (min-width:1200px) {
    

.container {
    width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

/* HEADER */

/* .header{
    height: 70px;
}

.header-navigation{
    display:flex;
    align-items: center;
}

.header-logo{
    margin: 10px 420px 10px 0;
    cursor: pointer;

}


.navigation{
    display: flex;
    margin-right: 21px;
}

.nav-item:not(:last-child){
    margin-right: 32px;
}

.nav-link{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
    color:var(--main-title-color);
    padding: 25px 0px;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.curent{
    color: var(--accent-color);
}

.socials-wrapper{
    padding: 7px 15px;
    background: rgba(42, 59, 76, 0.06);
    border-radius: 70px;
}

.header-list{
    display: flex;
    align-items: center;
}

.header-socials-item:not(:last-child) {
    margin-right: 10px;
}

.header-socials-icon{
    fill: rgba(42, 59, 76, 0.6);
}
.header-socials-icon:hover,
.header-socials-icon:focus{
    fill: rgba(68, 164, 217, 1);
} */

/* ===================================================== */

/* MAIN */

/* CALL LINK*/

/* .section{
    margin-top: 50px;
}

.call-link-wrapper{
    width: 250px;
    height: 70px;
    background: #7CB75E;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16px;
    cursor: pointer;
}

.call-link-wrapper:hover,
.call-link-wrapper:focus{
    background-color: var(--accent-color);
}

.call-link{
    color: var(--extra-text-color);
    padding: 34px 82px;
} */

/* HERO */

/* .hero {
    background-color: #E5E5E5;;
    background-image: url(../images/home-blank/hero/desk-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
}

.hero-title{
    margin-top: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: var(--extra-title-color);
}

.call-link-wrapper{
    margin-top: 40px;
    margin-bottom: 238px;
} */


/* FEATURES */
/* .features-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features-title-wrapper{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(68, 164, 217, 0.5);
    width: 100%;
}

.title-section{
    padding: 0 0 36px;
    text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
color: var(--main-title-color);
}
.title-part{

    color: var(--accent-color);
}

.features{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 32px;
}

.features-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 268px;
    margin-right: 28px;
    cursor: pointer;
}


.features-item:nth-child(4n) {
    margin-right: 0;
}

.icon-moderation {
    height: 70px;
background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.features-icon{
    fill: rgba(0, 0, 0, 0.6);;
}

.features-icon:hover,
.features-icon:focus{
    fill: var(--accent-color);
}


.features-text{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
} */


/* OFFER */

/* .offer-section{
    margin-top: 53px;
        background-color: #E5E5E5;;
        background-image: url(../images/home-blank/offer/desk-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.offer-wrapper{
    margin-left: 665px;
    width: 360px;
    height: 580px;
    background-color: rgba(42, 59, 76, 0.5);;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.offer-title-wrapper{
    margin-top: 50px;
    width: 500px;
    height: 55px;
    background-color: var(--accent-color);
    border-radius: 10px 0px 10px 10px;
}

.offer-title{
    margin: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: var(--main-title-color);
}

.offer-list{
    margin-top: 66px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
}

.offer-item{
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;

}

.offer-item:not(:last-child){
        margin-bottom: 50px;
}

.offer-text{
        color: var(--extra-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.offer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #ffffff;
}

.offer-link{
    font-family: 'Raleway';
    font-style: normal;
    color: var(--extra-text-color);
}

.offer-link:hover,
.offer-link:focus{
    color: var(--accent-color);
} */


/* TRUST */

/* .trust-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trust-item{
    width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trust-item:not(:last-child){
    margin-right: 86px;
}

.trust-image{
    border: 8px solid rgba(68, 164, 217, 0.1);;
    border-radius: 10px;
}

.trust-description{
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.trust-description-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.trust-description-text{
    margin-top: 9px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
} */


/* BUY */
/* .buy-section {
    margin-top: 53px;
    background-color: #E5E5E5;
    background-image:  url(../images/home-blank/buy/desk-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 404px;
}

.buy-section-up{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buy-call-wrapper{
    width: 642px;
    height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-link-wrapper{
    width: 260px;
    height: 70px;
    background: #7CB75E;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}

.buy-link-wrapper:hover,
.buy-link-wrapper:focus {
    background-color: var(--accent-color);
}

.buy-link{
    color: var(--extra-text-color);
    padding: 30px 82px;
}


.buy-text-content {
    width: 423px;
    height: 404px;
    background-color: rgba(42, 59, 76, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-section-title{
    margin-top: 81px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: var(--extra-title-color);
}

.buy-list{
    margin-top: 30px;
}

.buy-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buy-item:not(:last-child){
    margin-bottom: 13px;
}

.buy-item-icon{
    margin-right: 15px;
    fill: #44A4D9;
}

.buy-item-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--extra-text-color);
} */

/* FOOTER */

/* .footer{
    padding-top: 40px;
    padding-bottom: 43px;
    background-color: rgba(42, 59, 76, 1);;
}

.footer-top-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(68, 164, 217, 0.5);
}

.footer-logo{
    margin-right: 100px;
    padding: 10px;
    background-color:  rgba(196, 196, 196, 0.1);
    border-radius: 10px 0px 10px 10px;
}

.footer-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--extra-title-color);
    padding-bottom: 10px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-list {
    margin-right: 94px;
}

.contact-item{
    display: flex;
    flex-direction: row;
        align-items: center;
}

.footer-link{
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 17px;
    cursor: pointer;
}

.footer-item-icon{
    margin-right: 5px;
    fill: rgba(196, 196, 196, 0.7);;
}

.contact-item-text{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: rgba(255, 255, 255, 0.7);
}

.footer-navigation{
display: flex;
flex-direction: row;
}

.footer-middle{
    margin-right: 400px;
}

.footer-nav-item:not(:last-child){
    margin-bottom: 10px;

}

.footer-nav-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}
.footer-right-up{
    margin-bottom: 20px;
}

.footer-right-title{
    margin-bottom: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--extra-title-color);
}

.footer-socials-wrapper {
    padding: 7px 15px;
    background: rgba(196, 196, 196, 0.2);;
    border-radius: 70px;
}

.footer-socials {
    display: flex;
    align-items: center;
}

.footer-socials-item:not(:last-child) {
    margin-right: 10px;
}

.footer-socials-icon {
fill:rgba(255, 255, 255, 0.5);;
}

.footer-socials-icon:hover,
.footer-socials-icon:focus {
fill:rgba(68, 164, 217, 1);
}

.footer-review{
    display: flex;
    flex-direction: row;
}

.footer-review-item{
    margin-right: 9px;
}

.footer-review-icon {
    fill: rgba(255, 255, 255, 0.5);
    ;
}

.footer-review-icon:hover,
.footer-review-icon:focus {
    fill: rgba(68, 164, 217, 1);
}

.visually-hidden{
    display: none;
}

} */